<div class="host voting-host-view">

  <!-- Todo: Replace with directive -->
  <div class="status">
    <span class="round">{{ currentRound }}</span>
    <span id="timer">{{timeLeft.$value}}</span>
  </div>

  <!-- Todo: Replace with directive -->
  <div class="question">
    <img src="{{ question.image }}" ng-show="isImagePrompt()">
    <p>{{ question.question }}</p>
  </div>
  
  <h3>Pick your favorite!</h3> 
  <ul class="answers">
    <li ng-repeat="answer in answers">{{answer.response}}</li>
  </ul>

</div>