<div id="create-host-view" ng-controller="createCtrl">
  <h1>Create new game</h1>
  <p class="instruction">Join this game with the following code:</p>

  <div class="game-code">{{code}}</div>

  <h2>Current players</h2>
  <!-- Todo: Replace with directive -->
  <ul class="players">
    <li ng-repeat="player in players | orderBy:'-votes'">
      <div class="profile-photo"><img ng-src="{{ player.profilePhoto }}"></div>
      <div class="name">{{ player.name }} <span class="votes" ng-show="player.votes">{{ player.votes }}</span></div>
    </li>
  </ul>

  <button ng-click="toQuestionDisplay()" href="#" class="play">Play!</button>
  
</div>