<div class="question-player-view">
  
  <div ng-hide="holdView">
    <!-- Todo: Replace with directive -->
    <div class="status">
      <span class="round">{{ currentRound }}</span>
      <span id="timer">{{timeLeft.$value}}</span>
    </div>

    <!-- Todo: Replace with directive -->
    <img class="question image" src="{{ question.image }}" ng-show="isImagePrompt()">
    <p class="question text">{{ question.question }}</p>
   
    <form ng-submit="submitPlayerAnswer(answer)">
      <label>Your answer<input ng-model="answer" type="text"></label>
      <button type='submit'>Push!</button>
    </form>
  </div>

  <!-- Todo: Replace with directive -->
  <div class="wait" ng-show="holdView">Waiting for other players to answer...</div>
  
</div>