<div class="question-player-view">
  <div ng-show="!holdView">

    <!-- Todo: Replace with directive -->
    <div class="status">
      <span class="round">{{ currentRound }}</span>
      <span id="timer">{{timeLeft.$value}}</span>
    </div>

    <!-- Todo: Replace with directive -->
    <div class="question">
      <img src="{{ question.image }}" ng-show="isImagePrompt()">
      <p>{{ question.question }}</p>
    </div>

    <form ng-submit="submitPlayerAnswer(answer)">
      <input ng-model="answer" type="textarea"/>
      <br>
      <button type='submit'>Submit</button>
    </form>
  </div>

  <!-- Todo: Replace with directive -->
  <div class="wait" ng-show="holdView">Waiting for other players to answer...</div>

</div>