<div id="join-view">
  <h2>Join a game!</h2>
  <form ng-show="!holdGame">
    <p>
      <label>Enter code to join game:</label>
      <input ng-model='join.code'>
    </p>
    <p>
      <label>Enter your name:</label>
      <input ng-model='join.name'>
      <label>Upload your face!
        <input type="file" accept="image/*;capture=camera" fileread="join.profilePhoto">
      </label>
      <label>Upload a funny photo!
        <input type="file" accept="image/*;capture=camera" fileread="join.questionPhoto">
      </label>
    </p>
    <button id="join-button" name="submit" ng-click="go()">GO!</button>
    <img src="{{ join.profilePhoto }}" class="preview-photo">
    <img src="{{ join.questionPhoto }}" class="preview-photo">
  </form>

  <div class="error" ng-show="invalidGameError">{{ invalidGameError }}</div>

  <div ng-show="holdGame">
    Waiting for other players . . .
  </div>
</div>