<div id="join-view">

  <h1>Join a game!</h1>
  <form ng-show="!holdGame">
    <label>
      Join Code
      <input ng-model='join.code' placeholder="XXXX">
    </label>
    
    <label>
      Your Name
      <input ng-model='join.name' placeholder="Martha">
    </label>
      
    <label class="clickable">
      Upload your face!
      <!-- <input type="file" accept="image/*;capture=camera" fileread="join.profilePhoto"> -->
      <input type="file" accept="image/*;capture=camera" image="join.profilePhoto" resize-max-height="200" resize-max-width="200" resize-type="image/jpg" resize-quality="0.4">
      <!-- <img ng-show="image" ng-src="{{image.resized.dataURL}}" /> -->

    </label>

    <label class="clickable">
      Upload a funny photo!
      <input type="file" accept="image/*;capture=camera" image="join.questionPhoto" resize-max-height="400" resize-max-width="400" resize-type="image/jpg" resize-quality="0.4">
      <!-- <input type="file" accept="image/*;capture=camera" fileread="join.questionPhoto"> -->

    </label>
    

    <button id="join-button" name="submit" ng-click="go()" onClick="document.getElementById('join-button').disabled = true;">Play Now!</button>

    
    <!-- For testing purposes 
    <img src="{{ join.profilePhoto }}" class="preview-photo">
    <img src="{{ join.questionPhoto }}" class="preview-photo"> -->
  </form>

  <div class="error" ng-show="invalidGameError">{{ invalidGameError }}</div>
  <div class="waiting" ng-show="holdGame">Waiting for other players...</div>

</div>